In [8]:
import pandas

In [9]:
initial_dataframe = pandas.read_csv('ascendreq.csv')
initial_dataframe

,Mora,uncommon crystal fragment,rare crystal fragment,epic crystal fragment,legendary crystal fragment,boss material,local speciality,mob drops(common),mob drops(uncommon),mob drops(rare),EXP needed
0,24200,0,0,0,0,0,0,0,0,0,120175
1,135800,1,0,0,0,0,3,3,0,0,578325
2,156000,0,3,0,0,2,10,15,0,0,579100
3,231000,0,6,0,0,4,20,0,12,0,854125
4,319200,0,0,3,0,8,30,0,18,0,1195925
5,402400,0,0,6,0,12,45,0,0,12,1611875
6,804800,0,0,0,6,20,60,0,0,24,3423125

In [13]:
def find_total_cost_of_levels(current_level,required_level):
    #Index start corresponds to (current_level-1)th value. Index end corresponds to this too.
    final_dataframe = initial_dataframe.iloc[current_level-1:required_level].sum()
    dataframe_dict = final_dataframe.to_dict()
    for key,value in dataframe_dict.items():
        if(value!=0):
            if(key!='EXP needed'):
                print(key,":",value)
            else:
                final_exp_required = round(value/20000,2)
                print("EXP books needed in terms of epic EXP books: ",final_exp_required)

print("My character is currently at: ")
print("1> Level 1")
print("2> Level 20")
print("3> Level 40")
print("4> Level 50")
print("5> Level 60")
print("6> Level 70")
print("7> Level 80")
print("(We are assuming your character hasn't been ascended at that level. If you select 20, your character should be 20/20, not 20/40.)")
current_level = int(input("Enter the corresponding number: "))

print("I want my character to be: ")
print("1> Level 20")
print("2> Level 40")
print("3> Level 50")
print("4> Level 60")
print("5> Level 70")
print("6> Level 80")
print("7> Level 90")
required_level = int(input("Enter the corresponding number: "))
if(required_level<current_level):
    print("Your required level cannot be lower than your current level. Exiting.")
else:
    find_total_cost_of_levels(current_level,required_level)

My character is currently at:
1> Level 1
2> Level 20
3> Level 40
4> Level 50
5> Level 60
6> Level 70
7> Level 80
(We are assuming your character hasn't been ascended at that level. If you select 20, your character should be 20/20, not 20/40.)
I want my character to be:
1> Level 20
2> Level 40
3> Level 50
4> Level 60
5> Level 70
6> Level 80
7> Level 90
Mora : 2073400
uncommon crystal fragment : 1
rare crystal fragment : 9
epic crystal fragment : 9
legendary crystal fragment : 6
boss material : 46
local speciality : 168
mob drops(common) : 18
mob drops(uncommon) : 30
mob drops(rare) : 36
EXP books needed in terms of epic EXP books:  418.13